<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<h1>Nodes</h1>
<table class="table">
  <thead>
    <tr>
      <th>Node</th>
      <th>Host</th>
      <th>Available</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.node_id %></td>
        <td><a href="<%= node.host %>"><%= node.host %></a></td>
        <td><%= node.available %></td>
        <td><%= link_to 'Sync', sync_node_path(node) %></td>
        <td><%= link_to 'Show', node %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Node', new_node_path %>
