<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<p>
  <strong>Node:</strong>
  <%= @node.node_id %>
</p>
<p>
  <strong>Available:</strong>
  <%= @node.available %>
</p>
<p>
  <strong>Host:</strong>
  <%= @node.host %>
</p>
<p>
  <strong>Blocks:</strong>
</p>
<% if @blocks.present? %>
  <pre>
    <%= @blocks %>
  </pre>
<% end %>
<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
