<h1>Block  <%= @block.block_index %> </h1>
<div class="gem octagon my-3" data-seed="<%= @block.block_chain_hash %>"></div>
<dl>
  <dt>Index</dt>
  <dd><%= @block.block_index %></dd>
  <dt>Timestamp</dt>
  <dd><%= @block.timestamp.to_i %></dd>
  <dt>Proof</dt>
  <dd><%= @block.proof %></dd>
  <dt>Previous Hash</dt>
  <dd><%= @block.previous_block_hash %></dd>
  <dt>Hash</dt>
  <dd><%= @block.block_chain_hash %></dd>
  <% if @block.transactions.present? %>
    <dt>Transactions</dt>
    <dd>
      <% @block.transactions.each do |transaction| %>
        <%= link_to transaction.transaction_id, transaction %>
      <% end %>
    </dd>
  <% else %>
    Keine Transactions
  <% end %>
</dl>
