<h1>Mine</h1>
<p class="alert alert-info">Mined a new block. It took <%= number_with_precision @time %> seconds.</p>
<dl>
  <dt>Index</dt>
  <dd><%= @block.block_index %></dd>
  <dt>Timestamp</dt>
  <dd><%= @block.timestamp.to_i %></dd>
  <dt>Proof</dt>
  <dd><%= @block.proof %></dd>
  <dt>Transactions</dt>
  <dd><%= @block.transactions.size %></dd>
  <dt>Prvious Hash</dt>
  <dd><%= @block.previous_block_hash %></dd>
  <dt>Hash</dt>
  <dd><%= @block.block_chain_hash %></dd>
  <% if @block.transactions.present? %>
    <dt>Transactions</dt>
    <dd>
      <% @block.transactions.each do |transaction| %>
        <%= link_to transaction.transaction_id, transaction %>
      <% end %>
    </dd>
  <% else %>
    Keine Transactions
  <% end %>
</dl>
<p><%= link_to 'Show block', @block, class: 'btn btn-dark' %></p>
