<h1>Neue Transaktion</h1>
<% unless @transaction.valid? %>
  <div class="alert alert-danger">
    <%= @transaction.errors.messages %>
  </div>
<% end %>
<%= form_for @transaction, url: transactions_path, class: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :payload, class: 'form-control-label' %>
    <%= f.text_field :payload, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Speichern', class: 'btn btn-dark' %>
  </div>
<% end %>
