<!DOCTYPE html>
<html>
  <head>
    <title>InnoqBlockchainRuby</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" media="all" href="https://bootstrap.assets.innoq.com/css/0.0.9/innoq-bootstrap-theme.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation ein- oder ausblenden">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link"  %></li>
          <li class="nav-item"><%= link_to "Blocks", blocks_path, class: "nav-link"  %></li>
          <li class="nav-item"><%= link_to "Transactions", transactions_path, class: "nav-link"  %></li>
        </ul>
      </div>
    </nav>
    <% if alert %>
      <div class="alert alert-danger animated fadeIn" role="alert">
        <div class="container alert-dismissible d-flex justify-content-between align-items-center">
          <span class="alert-message">
            <i class="fa fa-bolt mr-1"></i>
            <%= alert %>
          </span>
          <button type="button" class="btn btn-sm btn-link" data-dismiss="alert" aria-label="Schliessen">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success alert-container animated fadeIn" role="alert">
        <div class="container alert-dismissible d-flex justify-content-between align-items-center">
          <span class="alert-message">
            <i class="fa fa-check mr-1"></i>
            <%= notice %>
          </span>
          <button type="button" class="btn btn-sm btn-link" data-dismiss="alert" aria-label="Schliessen">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
